##
## Successful Endeavours
##
## There is no `systemd` service file for `chrony` in Deiban Jessie.
## This file was taken from Debian Stretch sources.
## The `Restart=always` stanza was added to keep restart the service if it
## exits (e.g. if `adjtimex()` fails.  See BitBucket issue #118).
##

[Unit]
Description=chrony, an NTP client/server
Documentation=man:chronyd(8) man:chronyc(1) man:chrony.conf(5)
Conflicts=systemd-timesyncd.service openntpd.service
After=network.target
ConditionCapability=CAP_SYS_TIME

[Service]
Type=forking
PIDFile=/run/chronyd.pid
ExecStart=/usr/sbin/chronyd
## kill gpsd after chrony has started to force restart.
## assumes gpsd has been configured to always restart !!
ExecStartPost=-/usr/bin/killall -TERM gpsd
PrivateTmp=yes
ProtectHome=yes
ProtectSystem=full
Restart=always

[Install]
Alias=chronyd.service
WantedBy=multi-user.target
