#!=============================================================================
#!
#!  Successful Endeavours Pty Ltd
#!
#!  Service to log GPS NMEA sentences to disk for diagnostics
#!
#!  Copyright (C) 2017-2019 Successful Endeavours Pty Ltd
#!
#!=============================================================================

[Unit]

Description=GPS NMEA Logger service

Requires=gpsd.service

After=network.target auditd.service gpsd.service

#!=============================================================================

[Service]

ExecStart=/opt/sbin/gps_nmea_logger.sh

KillMode=process

Restart=always

#!=============================================================================

[Install]

WantedBy=multi-user.target

#!=============================================================================
