#!=============================================================================
#!
#!  Successful Endeavours Pty Ltd
#!
#!  Service to log GPS NMEA sentences to disk for diagnostics
#!
#!  Copyright (C) 2017-2019 Successful Endeavours Pty Ltd
#!
#!=============================================================================

[Unit]

Description=GPS NMEA Logger service

#Requires=gpsd.service

#! PartOf and BindsTo will cause this service to stop if the listed service is stopped.
#! This logger is not really "part of" gpsd, so PartOf is not the right answer
#! BindsTo is close to what we want.
#! Restarting gpsd will stop this service, however it wont be restarted !!
#! What we want is for it to be restarted, if it was running, but not restarted
#! if it wasn't running.

#PartOf=gpsd.service

BindsTo=gpsd.service

After=network.target auditd.service gpsd.service

#!=============================================================================

[Service]

ExecStart=/opt/sbin/gps_nmea_logger.sh

#! The gpscat process as part of the logger script doesn't seem to terminate
#! when this service is stopped (at least not via the binding when gpsd is stopped).
#! Use control-group to force termination of all child processes.

#KillMode=process
KillMode=control-group

Restart=always

#!=============================================================================

[Install]

WantedBy=multi-user.target

#!=============================================================================
