#!
#! Successful Endeavours
#!
#! Service to log GPS NMEA sentences to disk for diagnostics
#!

[Unit]
Description=GPS NMEA Logger service
After=network.target auditd.service

[Service]
ExecStart=/opt/sbin/gps_nmea_logger.sh
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
