#!
#! Successful Endeavours
#!
#! Customised version of /lib/systemd/system/gpsd.service
#!
#! The `Restart=always` stanza was added to keep restart the service if it
#! exits.  We take advantage of this in the chrony.service, which kills
#! `gpsd` after `chronyd` starts, to force `gpsd` to restart after `chronyd`,
#!  which is recommended when using the SOCK driver in `chrony`.
#!

[Unit]
Description=GPS (Global Positioning System) Daemon
Requires=gpsd.socket

[Service]
EnvironmentFile=-/etc/default/gpsd
ExecStart=/usr/sbin/gpsd -N $GPSD_OPTIONS $DEVICES
Restart=always

[Install]
Also=gpsd.socket
