[Unit]
Description=SEPL Example Application Daemon
After=network.target auditd.service
#ConditionPathExists=!/etc/ssh/sshd_not_to_be_run

[Service]
#EnvironmentFile=-/etc/default/ssh
#ExecStart=/usr/sbin/sshd -D $SSHD_OPTS
#ExecStart=/home/brendan/SEPL/IND/SW/sepl_example.py
ExecStart=/opt/sbin/blinky.py
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
#Type=simple
#User=example
#Group=example

[Install]
WantedBy=multi-user.target
#Alias=selp-example.service

