[Unit]
Description=Check Internet Connection
After=basic.target

[Service]
ExecStart=/opt/sbin/sepl_power_supervisor.py
KillMode=process
Restart=always

[Install]
WantedBy=basic.target

